

 <%- include('../views/partials/header'); %>

<div class="jumbotron">
    <h1 class="display-4">Listado de Emisoras</h1>
    <p class="lead">Esta API controla las emisoras de España para enviarlas a Appgyver</p>
    <hr class="my-4">
    <p></p>
   
</div>

  
  <div class="container">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Titulo</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Imagen</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
      
    <% books.forEach(function(book) {%>

      <tr>
         
    <div class="row">
  
    
      <div class="col">

        
              <th scope="row"><%= book.id %></th>
              <td><h5 class="card-title"><%= book.title %></h5></td>
              <td> <p class="card-text"><%= book.url %></p></td>
              <td><img src="<%= book.image %>" height="25%" width="25%"  /></td>
              <td>  <a href="/delete/<%= book.id %>" class="btn btn-danger">Eliminar</a>  <a href="/books/<%= book.id %>" class="btn btn-success">Ver</a> </td>
     
     
    
 
  
  
    
  </div>
  
 
  </div>
  <% }) %>

      </tr>
                
      </tbody>
      </table>
  </div>
  
  
 <%- include('../views/partials/footer'); %>