

 <%- include('../views/partials/header'); %>

<h1>Emisora</h1>


<div class="container">


<div class="card" style="width: 70rem;">
  <img src="<%= book.image %>" height="25%" width="25%"  />
    <div class="card-body">
      <h5 class="card-title"><%= book.title %></h5>
      <p class="card-text"><%= book.url %></p>      
      
   
     
    </div>
  </div>


</div>
  
 <%- include('../views/partials/footer'); %>